@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Free to use for anyone that comes across the application or the code.  This is just a submission project for a job application I am doing.</p>
